<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="row user-profile">
            <div class="col-md-4 text-center">
                <img src="<%= @user.getGravatarLink(170) %>" class="img-circle" />
                <br/>If you want to change your picture go to <a target="_blank" href="https://www.gravatar.com">Gravatar</a> and create gravatar. 
            </div>
            <div class="col-md-8">
                <h1><%= @user.login %></h1>
                <h2><%= @user.email %></h2>
                <% if @user[:id] == session[:current_user_id] %>
                <div class="row user-settings">
                    <div class="btn-group">
                        <%= link_to "Edit", edit_user_path, :class => "btn btn-primary" %>
                        <%= link_to "Change Password", edit_password_path, :class => "btn btn-primary" %>
                        <%= link_to "Delete", @user, :method => :delete, :class => "btn btn-danger", 
                                    data: {:confirm => "Are You sure?", :title => "Delete #{@user.login}"} %>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
